# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-to-trash
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
local.properties
.gradle
/android/app/google-services.json
/android/app/release/
/android/keystores/

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.bundle
.buckd/
*.keystore
!debug.keystore
android/gradlew
android/gradle/
android/app/src/main/assets/

# Environment
.env
.env.local
.env.development
.env.staging
.env.production

# IDE
.idea/
.vscode/
*.iml

# Tests
coverage/

# TypeScript
*.js.map
*.d.ts
!metro.config.js
!babel.config.js

# Misc
*.log
.watchmanconfig
